.scrollview {
  background-color: lightgrey;
}
.load-more {
  margin: 1rem;
  color: #46139f;
  background-color: transparent;
  border-color: transparent;
}
.searchBox {
  width: 100%;
  margin: 1rem 0;
  border-color: #46139f;
  background-color: #eeeeee;
  border-radius: 5px;
  border-width: 1px;
  padding: 0.4rem 0.4rem;
}
